<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark_mode.css') }}" id="dark-mode-styles">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/frontpage.css') }}">
</head>
<body {% if dark_mode_enabled %}class="dark-mode"{% endif %}>
    <div class="container">
        <button id="dark-mode-toggle" class="top-right">Toggle Dark Mode</button>
        <h1>Movie Recommendation System</h1>
        <div class="form-container">
            <form class="recommend-form" method="post" action="{{ url_for('recommend') }}">
                <label for="genre">Select a genre:</label>
                <select name="genre" id="genre">
                    <option value="28">Action</option>
                    <option value="12">Adventure</option>
                    <option value="16">Animation</option>
                    <option value="35">Comedy</option>
                    <option value="80">Crime</option>
                    <option value="99">Documentary</option>
                    <option value="18">Drama</option>
                    <option value="10751">Family</option>
                    <option value="14">Fantasy</option>
                    <option value="36">History</option>
                    <option value="27">Horror</option>
                    <option value="10402">Music</option>
                    <option value="9648">Mystery</option>
                    <option value="10749">Romance</option>
                    <option value="878">Science Fiction</option>
                    <option value="10770">TV Movie</option>
                    <option value="53">Thriller</option>
                    <option value="10752">War</option>
                    <option value="37">Western</option>
                </select>
                <input type="submit" value="Get Recommendations">
            </form>
            <!-- New button for recommending a trash movie with 2 stars or below -->
            <form class="low-rated-form" method="post" action="{{ url_for('recommend_low_rating') }}">
                <input type="submit" value="Click for a surprise">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/dark_mode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
